webservice/axis/src/main/java/com.lx.demo/zjjg/GDPushIndex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="unitCode" type="xsd:string"/>
   <element name="unitName" type="xsd:string"/>
   <element name="startTime" type="xsd:string"/>
   <element name="endTime" type="xsd:string"/>
   <element name="pageNum" type="xsd:int"/>
   <element name="vfCode" type="xsd:string"/>
   <element name="PushIndexReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="PushIndexRequest">

      <wsdl:part element="impl:unitCode" name="unitCode"/>

      <wsdl:part element="impl:unitName" name="unitName"/>

      <wsdl:part element="impl:startTime" name="startTime"/>

      <wsdl:part element="impl:endTime" name="endTime"/>

      <wsdl:part element="impl:pageNum" name="pageNum"/>

      <wsdl:part element="impl:vfCode" name="vfCode"/>

   </wsdl:message>

   <wsdl:message name="PushIndexResponse">

      <wsdl:part element="impl:PushIndexReturn" name="PushIndexReturn"/>

   </wsdl:message>

   <wsdl:portType name="GDPushIndex">

      <wsdl:operation name="PushIndex" parameterOrder="unitCode unitName startTime endTime pageNum vfCode">

         <wsdl:input message="impl:PushIndexRequest" name="PushIndexRequest"/>

         <wsdl:output message="impl:PushIndexResponse" name="PushIndexResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GDPushIndexSoapBinding" type="impl:GDPushIndex">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="PushIndex">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PushIndexRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="PushIndexResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GDPushIndexService">

      <wsdl:port binding="impl:GDPushIndexSoapBinding" name="GDPushIndex">

         <wsdlsoap:address location="http://localhost:8080//services/example/GDPushIndex"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
