springboot/springboot-jdbc-druid/src/main/resources/META-INF/xsd/bus-busgtx-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.springframework.org/schema/bus/busgtx" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.springframework.org/schema/bus/busgtx">
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:element name="datasourceid">
		<xsd:annotation>
			<xsd:documentation>gtx:datasourceid标签定义</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="transaction">
		<xsd:annotation>
			<xsd:documentation>gtx:transaction标签定义</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="refbeanid" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
